* {
  box-sizing: border-box;
}

.red {
  width: 70px;
  height: 30px;
  background: red;
  color: #fff;
  border: 0;
  cursor: pointer;
}



.black {
  width: 70px;
  height: 30px;
  background: #000;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.active {
  border: 2px solid #000
}

.black:disabled {
  opacity: 0.5;
}

.red:disabled {
  opacity: 0.5;
}

.show {
  display: none;
}

.button {
  width: 50px;
  height: 30px;
  background: rgb(9, 255, 0);
  border: 0;
}

#bet {
  width: 183px;
  height: 30px;
  margin-bottom: 20px;
}